H:/Farhan/Skripsi/Modelling filter=lfs diff=lfs merge=lfs -text
4/KlasifikasiTomat/model/resnet9_97.pt filter=lfs diff=lfs merge=lfs -text
H:/Farhan/Skripsi/Modelling filter=lfs diff=lfs merge=lfs -text
4/KlasifikasiTomat/model/resnet9_99(1).pt filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
